<%-include('../partials/header')%>
    <div class="page-container">
        <div class="page-content">
            <%-include('../partials/sidebar')%>
                <div class="content-wrapper">
                    <div class="page-header page-header-default">
                        <div class="page-header-content">
                            <div class="page-title">
                                <h4><a href="JavaScript:void(0)"><i class="icon-arrow-left52 position-left"></i>
                                    </a><span class="text-semibold">Categories</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="panel panel-flat">
                            <div class="panel-heading">
                                <h3 class="panel-title">Listing</h3>
                            </div>
                            <input type="hidden" id="permission" value="<%= JSON.stringify(global.permission) %>">
                            <input type="hidden" id="type" value="<%= JSON.stringify(global.type) %>">
                            <table id="category_datatable" class="table datatable-selection-single">
                                <thead>
                                    <tr>
                                        <th class="text-center">Sr. No.</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Image</th>
                                        <th class="text-center">Category Icon</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center" data-orderable="false">
                                            Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% 
                                    var j=0
                                        for(let i in categoriesArr){ %>
                                        <tr>
                                            <td class="text-center">
                                                <%= j+=1 %>
                                            </td>
                                            <td class="text-center">
                                                <%= categoriesArr[i].name %>
                                            </td>
                                            <td class="text-center">
                                                <img style=" width:100px; height:100px;"
                                                    src="/images/<%= categoriesArr[i].image %>"
                                                    alt="<%= categoriesArr[i].image %>" srcset="">
                                            </td>
                                            <td class="text-center">
                                                <img style=" width:100px; height:100px;"
                                                    src="/images/<%= categoriesArr[i].category_icon %>"
                                                    alt="<%= categoriesArr[i].category_icon %>" srcset="">
                                            </td>
                                            <td class="text-center">
                                                <div class="form-group">
                                                    <div class="control-label"></div>
                                                    <label class="custom-switch mt-2">
                                                        <input onclick="changeStatus('<%=categoriesArr[i].id %>',this)"
                                                            type="checkbox" name="custom-switch-checkbox"
                                                            class="custom-switch-input"
                                                            <%=categoriesArr[i].status==1?"checked":"" %>>
                                                        <span class="custom-switch-indicator"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td style="text-align:center;">
                                               
                                                <% 
                                                if(global.type==4){
                                                if(global.permission!='' && "category" in global.permission.child && global.permission.child.category.includes('view')){
                                                    %>
                                                <a href="/viewcategory/<%=categoriesArr[i].id%>"
                                                    class="btn btn-primary"><i class="icon-eye"></i></a>
                                                    <% } %>
                                                    <% if(global.permission!='' && "category" in global.permission.child &&
                                                        global.permission.child.category.includes('edit')){ %>
                                                <a href="/admin/categories/edit/<%=categoriesArr[i].id%>"
                                                    class="btn btn-primary"><i class="icon-pencil"></i></a>
                                                    <% } %>
                                                    <% if(global.permission!='' && "category" in global.permission.child &&
                                                        global.permission.child.category.includes('delete')){ %>
                                                <button onclick="deleteCategory('<%=categoriesArr[i].id%>')" class="btn btn-danger 
                                                 deletdat>"><i class="icon-trash Delete"></i></button>
                                                 <% } }else{ %>
                                                    <a href="/viewcategory/<%=categoriesArr[i].id%>" class="btn btn-primary"><i class="icon-eye"></i></a>
                                                    <!-- <a href="/admin/categories/edit/<%=categoriesArr[i].id%>" class="btn btn-primary"><i class="icon-pencil"></i></a> -->
                                                    <!-- <button onclick="deleteCategory('<%=categoriesArr[i].id%>')" class="btn btn-danger 
                                                                                                     deletdat>"><i class="icon-trash Delete"></i></button> -->
                                                    <% } %>
                                            </td>
                                        </tr>
                                        <%}%>
                                </tbody>
                            </table>
                        </div>
                        <%-include('../partials/footer')%>
                    </div>
                </div>
        </div>
    </div>
    </body>

    </html>
    <script>






        // function confirmDelete(id) {
        //     console.log("------------------------------result------", id);


        //     const swalWithBootstrapButtons = Swal.mixin({
        //         customClass: {
        //             confirmButton: 'btn btn-danger',
        //             cancelButton: 'btn btn-success'
        //         },
        //         buttonsStyling: false
        //     })
        //     console.log("------------------------------result------", id);

        //     swalWithBootstrapButtons.fire({
        //         title: 'Are you sure?',
        //         text: "You won't be able to revert this!",
        //         icon: 'warning',
        //         showCancelButton: true,
        //         confirmButtonText: 'Yes, delete it!',
        //         cancelButtonText: 'No, cancel!',
        //         reverseButtons: true
        //     }).then((isConfirm) => {
        //         // console.log(isConfirm)
        //         // return
        //         if (isConfirm.isConfirmed) {
        //             // alert('asd')
        //             $.ajax({

        //                 url: "/deletecategory",
        //                 method: 'delete',
        //                 data: { id: id },
        //                 success: function (result) {

        //                 }


        //             });


        //             swalWithBootstrapButtons.fire(
        //                 'Deleted!',
        //                 'This category has been deleted.',
        //                 'success'
        //             ).then(() => {
        //                 location.reload();
        //             })
        //         } else {
        //             swalWithBootstrapButtons.fire(
        //                 'Cancelled',
        //                 'Your imaginary category is safe :)',
        //                 'error'
        //             )
        //         }
        //     })

        // }




        //     $('.working').click(function () {
        //      console.log('------status')

        //     var id = $(this).attr('data-id')
        //     var value = $(this).attr('value')



        //         const swalWithBootstrapButtons = Swal.mixin({
        //             customClass: {
        //                 confirmButton: 'btn btn-danger',
        //                 cancelButton: 'btn btn-success'
        //             },
        //             buttonsStyling: false
        //         })
        //         console.log("------------------------------result------", id);

        //         swalWithBootstrapButtons.fire({
        //             title: 'Are you sure?',
        //             text: "You can revert this!",
        //             icon: 'warning',
        //             showCancelButton: true,
        //             confirmButtonText: 'Yes, update it!',
        //             cancelButtonText: 'No, cancel!',
        //             reverseButtons: true
        //         }).then((isConfirm) => {
        //             // console.log(isConfirm)
        //             // return
        //             if (isConfirm.isConfirmed) {
        //                 // alert('asd')
        //                  $.ajax({
        //         type: "post",
        //         url: "/catstatusupdate",
        //         data: {
        //             id: id,
        //             value: value
        //         },
        //         success: function (data) {
        //             location.reload();

        //         }
        //     });


        //                 swalWithBootstrapButtons.fire(
        //                     'Deleted!',
        //                     'This status has been updated.',
        //                     'success'
        //                 ).then(() => {
        //                     location.reload();
        //                 })
        //             } else {
        //                 swalWithBootstrapButtons.fire(
        //                     'Cancelled',
        //                     'Your imaginary status is safe :)',
        //                     'error'
        //                 )
        //             }
        //         })


        // });

        function deleteCategory(id) {
            bootbox.confirm("Do you really want to delete category?", function (result) {
                if (result) {
                    $.post("/admin/categories/delete", { id: id }, function (data, status) {
                        if (data) {
                            // $(".table").load(location.href + " .table");
                            // $("#category_datatable_info").load(location.href + " #category_datatable_info");
                            // iziToast.success({
                            //     // title: "Success",
                            //     message: "Category deleted successfully",
                            //     position: "topRight",
                            // });
                            location.reload()
                        } else {
                            // $(".table").load(location.href + " .table");
                            location.reload()
                            // iziToast.error({
                            //     // title: "Success",
                            //     message: "Category not deleted",
                            //     position: "topRight",
                            // });
                        }
                    });
                }
            });
        }





        function changeStatus(id, elem) {
            var status = 0;
            if (elem.checked) {
                status = 1
            }

            $.ajax({
                type: "post",
                url: "/admin/categories/changeStatus",
                data: {
                    id: id,
                    status: status
                },
                beforeSend: function () {
                    blockUI("#business_datatable");
                },
                success: function (data) {
                    unblockUI("#business_datatable");
                    if (data) {

                        $(".table").load(location.href + " .table");
                        iziToast.success({
                            // title: "Success",
                            message: "Status updated successfully",
                            position: "topRight",
                        });
                    } else {
                        iziToast.error({
                            // title: "Error",
                            message: "Status did not updated",
                            position: "topRight",
                        });
                    }
                }
            });
        }



        $('select').on('change', function () {
            const order_id = this.getAttribute('orderid');
            const product_id = this.getAttribute('productId');
            var status = this.value;

            $.ajax({
                type: "POST",
                url: "/orderstatusupdate",
                data: { status: status, order_id: order_id, product_id: product_id },
                success: function (data) {
                    location.reload();
                },
                error: function (jqXHR, textStatus, err) {
                    alert('text status ' + textStatus + ', err ' + err)
                }
            });
        });



    var table = $("#category_datatable").DataTable()
    var permissionStringify= $("#permission").val()
    var type=$("#type").val()
    if(type==4){
    var permission = JSON.parse($("#permission").val())


        if (permission != '' && "category" in permission.child &&
            permission.child.category.includes('add')) {
            
            $("#category_datatable").before("<div class='row'><div class='col-sm-5' id='search_field'></div><div class='col-sm-6' id='add_icon'></div></div>");
            $("#category_datatable_length").appendTo($("#search_field"));
            $("#category_datatable_filter").appendTo($("#add_icon"));
            $('#add_icon').after('<div class="addp"><a title="Add" href="/admin/categories/add"><i class="">+</i></a></div>');
        }
    }else{
            $("#category_datatable").before("<div class='row'><div class='col-sm-5' id='search_field'></div><div class='col-sm-6' id='add_icon'></div></div>");
        $("#category_datatable_length").appendTo($("#search_field"));
        $("#category_datatable_filter").appendTo($("#add_icon"));
        $('#add_icon').after('<div class="addp"><a title="Add" href="/admin/categories/add"><i class="">+</i></a></div>');
    }
    </script>