<% if(session.type==1){ %>
    <%-include('../partials/header')%>
<%}else{%>
    <%- include ("../subAdmin/partials/header") %>
<%}%>
            <!-- /main navbar -->

            <!-- Page container -->
            <div class="page-container">

                <!-- Page content -->
                <div class="page-content">

                    <!-- Main sidebar -->
                    <% if(session.type==1){ %>
                        <%-include('../partials/sidebar')%>
                    <%}else{%>
                        <%- include ("../subAdmin/partials/sidebar") %>
                    <%}%>
                        <!-- /main sidebar -->

                        <!-- Main content -->
                        <div class="content-wrapper">

                            <!-- Page header -->
                            <div class="page-header page-header-default">
                                <div class="page-header-content">
                                    <div class="page-title">
                                        <h4>
                                            <a href="javascript:history.go(-1);"><i
                                                    class="icon-arrow-left52 position-left"></i></a><span
                                                class="text-semibold">Home</span> - Category</h4>
                                    </div>

                                </div>

                            </div>
                            <!-- /page header -->

                            <!-- Content area -->
                            <div class="content">





                                <div class="panel panel-flat">
                                    <!-- <div class="panel-heading">


                                <h1 class="panel-title">Form</h1>


                            </div> -->


                                    <div class="panel-body">

                                        <form id="categoryvalidation" class="form-horizontal" action="/editcategorypost/<%-editcategory.id%>"
                                            enctype="multipart/form-data" method="post">
                                            <fieldset class="content-group">
                                                <legend class="text-bold">Edit Category</legend>
                                                


                                                
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2">Name<span
                                                            class="text-danger">*</span></label>
                                                    <div class="col-lg-10">
                                                        <input type="text" name="name" id="name" class="form-control"
                                                           value="<%-editcategory.name%>">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2">Image</label>
                                                        <img src="/images/<%-editcategory.image%>" id="blah" width="100" height="100" />
                                                    <div class="col-lg-10">

                                                        <input id ="imgInp"type="file" class="control-label col-lg-3" name="image"
                                                            accept="image/png, image/jpeg">
                                                    </div>


                                                </div>






                                                <div class="text-right">

                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                            <a href="/admin/categories" style="background-color: #8080808c; color: black;" type="submit" class="btn btn-secondary">
                                                                Back
                                                            </a>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>



                                <!-- Footer -->
                                <% if(session.type==1){ %>
                                    <%-include('../partials/footer')%>
                                <%}else{%>
                                    <%- include ("../subAdmin/partials/footer") %>
                                <%}%>
                                    <!-- /footer -->

                            </div>
                            <!-- /content area -->

                        </div>
                        <!-- /main content -->

                </div>
                <!-- /page content -->

            </div>
            <!-- /page container -->

            </body>

            </html>



 <script>
    $(document).ready(function(){
         
      jQuery.validator.addMethod("noSpace", function(value, element) {
        return value == '' || value.trim().length != 0;
      }, "Space shouldn't be allowed");


      $("#categoryvalidation").validate({

        ignore: [],
        // Specify validation rules
        rules: {
            
          // name: "required",
          // minlength: 3,
          // noSpace : true

            name: {
            required: true,
            minlength: 3,
            noSpace : true
         },
         
         image: {
            // required: true,
           
         },

              
        },
        messages: {
         //  name: {
         //  required: "Please enter name",
         // },      
            
         name: {
            required: " Please enter name",
            accept: "Please enter a vaild name "
         },
         
          
         image: {
            // required: "Please select image",

         },

        },
      
      });
    });
    </script> 